* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 320px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background: #00bcd4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    margin-top: 15px;
    list-style: none;
}

li {
    background: #2b2b2b;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

li span {
    cursor: pointer;
    color: red;
}
